div.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

div.title {
    font-size: 24px;
    background-color: #009933;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

pre {
    background-color: #ddd;
    padding: 4px;
}

table {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

table th {
    font-weight: bold;
}

table tr {
    vertical-align: top;
}

table td {
    padding-right: 5px;
}

table td p {
    padding: 0px;
    margin: 0px;
}

table caption {
    padding: 7px;
    caption-side: top;
}
